.book_details{
    padding: 50px;

}
.book_details h2{
    display : inline-block;
    border-bottom: 2px solid #01b8aa;
    padding: 10px 15px;
}

.details{
    display: flex;
   /* border: 1px solid black;*/
   background-color: #eee;
    padding: 20px;
    margin: 15px auto;
}

.book_img{
    width: 150px;
    height: 200px;
    margin-left: 20px;
}

.details table{
    font-size: 17px;
}

.details table tr td:first-child{
    font-weight: bold;
    padding: 5px 10px 5px 20px;
}

p.resume{
    padding: 40px 30px;
    font-size: 16px;
}